---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import NavAbout from '../components/NavAbout.astro'
---

<BaseLayout title="A propos | Wahel GADER" description="About Wahel GADER">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline=""
		    >			
			<img
				style="max-width: 100%; margin: 0 auto;"
				width="353"
				height="1273"
				src="/assets/portrait.png"
				alt="Wahel GADER"
			/>
		
			</Hero>

			<section id="presentation">
				<h2 class="section-title">Presentation</h2>
				<div class="content">
					<p>
						Actuellement en <strong>première année de BUT informatique à l'IUT de Clermont Ferrand</strong>, je suis un <strong>étudiant passionné </strong>
						qui souhaite se spécialiser dans le développement web et mobile. En tant que passionné, j'aime 
					<strong>concevoir</strong> et <strong>réaliser des projets universitaires et personnels</strong> dans le but d'augmenter en compétences. 
						A la fois fois <strong>curieux </strong>et <strong>sérieux</strong>,j’essaye de comprendre en profondeur chaque concept afin de pousser la réussite de mes projets.
					</p>
				</div>
				<div class="content">
					<p>
						En plus de ma formation, je pratique en tant que <strong>développeur full stack</strong>, travaillant sur divers <strong>projets personnels</strong> ainsi que des <strong>projets professionnels</strong>. 
						Il m'arrive régulièrement de créer des sites web pour des entreprises.
					</p>
				</div>
			</section>
			<section id="competence">
					<h2 class="section-title">Passion</h2>
					<div class="content">
						<p>
						Dans ma vie, j'ai trois grandes passions qui rythment mon quotidien. Tout d'abord, j'adore voyager. Explorer de nouveaux horizons, découvrir 
						des cultures différente. Ensuite, j'ai une passion pour la création de sites internet, concevoir des interfaces qui 
						répondent aux besoins des utilisateurs me passionne, et j'aime relever les défis  que cela implique. Enfin, je suis un amateur de films et de séries. 
						</p>
					</div>
			<section/>
			

				
				
				<div class="content">
					<h3 style="margin-left:20%;">
						Télécharger mon CV !  &nbsp; &nbsp; :)
					</h3>
				</div>

				<div class="content">
					<div id="download-cv">
						<a href="/cv.pdf" download>
							<img src="/download.png" alt="Download" height="50px" width="50px">
						</a>
					</div>
				</div>
			
		</main>
					<section id="cursus">
						<!-- Education Section -->
						<section id="education">
							<div class="education">
							  <div class="edu-title">
								<h1>Parcours scolaire</h1>
								<span style="color:#302b63;">———o——————o———</span>
							  </div>
						</section>
			
						<div class="row">
							<div class="col1">
							  <h2>BUT Informatique</h2>
							  <p class="date-edu">2023 - maintenant</p>
							  <p class="desc-edu">IUT Clermont Ferrand</p>
							</div>
				  
							<div class="col2">
							  <ul>
								<li></li>
								<br />
								<br />
								<br />
								<li></li>
							  </ul>
							</div>
				  
							<div class="col3">
							  <h2>Baccalauréat générale</h2>
							  <p class="date-edu">2022 - 2023</p>
							  <p class="desc-edu">Lycée Marguerite de Valois, Angoulême</p>
							</div>
						  </div>
						</section>  
					</section>

				
					<section id="competence" >
					  <section id="skill">
						<div class="skill">
						  <div class="skill-title">
							<h1>Compétences</h1>
							<span>——o—o——</span>
							<p>Langage de programmation<br />et outils.</p>
						  </div>
				  
						  <div class="flex-wrapper">
							<div class="items flex-grid">
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/html.png" alt="" />
								<p>HTML</p>
								<p class="medium">80%</p>
							  </div>
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/css.svg" alt="" />
								<p>CSS</p>
								<p class="medium">70%</p>
							  </div>
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/js.png" alt="" />
								<p>JavaScript</p>
								<p class="basic">50%</p>
							  </div>
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/php.svg" alt="" width="80" />
								<p>PHP</p>
								<p class="basic">30%</p>
							  </div>
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/bootstrap.png" alt="" width="80" />
								<p>Bootstrap</p>
								<p class="medium">70%</p>
							  </div>
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/c++.png" alt="" width="60" />
								<p style="margin-left: -5px">C</p>
								<p class="basic">50%</p>
							  </div>
							</div>
				  
							<div class="items flex-grid">
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/c++.png" alt="" />
								<p>C++</p>
								<p class="basic">50%</p>
							  </div>
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/reactjs.png" alt="" />
								<p>ReactJS</p>
								<p class="basic">50%</p>
							  </div>
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/github.png" alt="" />
								<p>Github</p>
								<p class="medium">70%</p>
							  </div>
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/nextjs1.png" alt="" />
								<p>Nextjs</p>
								<p class="medium">60%</p>
							  </div>
							  <div class="d-col-1 t-col-4 m-col-12">
								<img src="/figma.png" alt="" />
								<p>Figma</p>
								<p class="basic">50%</p>
							  </div>
							</div>
						  </div>
						</div>
					  </section>
					</section>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
#download-cv {
  background-color: rgb(56, 0, 102);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: inline-block;
  position: relative;
  width: 1000px; 
   height: 150px;
}

#download-cv a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
    #download-cv:hover {
        background-color: #302b63;
    }

    #download-cv {
        text-align: center;
    }


	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>

      
 <style> 
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.edu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 10% 10%;
  background-color: #0284c7;
  margin: 10% 0;
  position: relative;
}

.edu span {
  font-weight: bold;
}

.edu-title {
  margin: 30px 50px;
  text-align: center;
  color: #fff;
}

.edu-title h1 {
  font-size: 40px;
  margin-top: 3.5rem;
}

#education .row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.edu h2 {
  color: #475569;
}

.date-edu {
  padding: 8px 0;
  font-size: 16px;
  color: #94a3b8;
}

.desc-edu {
  color: #475569;
}

.col1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #fff;
  margin-left: 10%;
  border-radius: 20px;
  padding: 15px 20px;
  box-shadow: 1px 10px 15px -1px rgba(255, 255, 255, 0.3);
  transition: 0.2s;
  width: 100%;
  max-width: 500px;
}

.col1:hover {
  transform: scale(1.03);
  box-shadow: 1px 10px 15px -1px rgba(255, 255, 255, 0.6);
}

.col2 {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col2 ul {
  list-style: none;
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  border-radius: 90%;
}

.col2 ul > li {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #334155;
  border-radius: 50%;
  margin: 30px 0;
}

.col2 ul > li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 100%;
  background-color: #334155;
  z-index: -1;
}

.col3 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  margin-left: 60%;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 20px;
  box-shadow: 1px 10px 15px -1px rgba(255, 255, 255, 0.3);
  transition: 0.2s;
  width: 100%;
  max-width: 500px;
}

.col3:hover {
  transform: scale(1.03);
  box-shadow: 1px 10px 15px -1px rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .edu-title h1 {
    font-size: 30px;
  }
  
  .edu-title p {
    font-size: 16px;
  }

  #education .row {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .col1, .col3 {
    grid-column: 1 / 2;
    width: 100%;
  }

  .col2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .col2 ul > li:after {
    height: 100%;
  }
}
.skill {
  /* height: 80vh; */
  padding: 2% 10% 10%;
  margin: 10% 0 0;
  
}

.skill span {
  color: #0284c7;
  font-weight: bold;
}

.skill-title {
  color: #2254a5;
  text-align: center;
}

.skill-title h1 {
  font-size: 40px;
  margin-top: 3.5rem;
}

.skill-title p {
  font-size: 20px;
}

.flex-wrapper {
  margin: 8rem 0 0;
}

.flex-grid {
  display: flex;
  justify-content: center;
  text-align: center;
}

.items img {
  height: 4.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.items p {
  color: #6790c5;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -5px;
}

.items .medium {
  background-color: #fef3c7;
  padding: 5px;
  font-size: 12px;
  border-radius: 15px;
  font-weight: bold;
  color: #de8821;
  text-transform: uppercase;
}

.items .basic {
  background-color: #e0f2fe;
  padding: 5px;
  font-size: 12px;
  border-radius: 15px;
  font-weight: bold;
  color: #49a7d8;
  text-transform: uppercase;
}
</style>
