---
import Icon from './Icon.astro';
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Étudiant</h2>
        <p>En première année de Bachelor Universitaire de Technologie (BUT) spécialité Métiers du Multimédia et de l'Internet, à l'IUT de Limoges.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon='code' color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Développeur</h2>
        <p>Création d'interfaces utilisateur réactives, utilisation de frameworks, maîtrise des standards du web en HTML, CSS et JavaScript.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="web" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Designer</h2>
        <p>Conception de maquettes et de wireframes, compréhension des principes UX/UI, expertise dans des outils de design comme Figma.</p>
    </div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
